*
  box-sizing border-box

.App
  text-align center
  background-color #656C76
  height 100vh
  display flex
  justify-content center
  align-items center

.template-menu
  position absolute
  top 10vh
  background-color whitesmoke
  border-radius 5px
  overflow hidden
  .active
    color white
    background-color #3c648e

.container
  background-color whitesmoke
  width 340px
  border-radius 1em
  a
    text-decoration none
    color #4BA3FF
    font-weight bold

.no-padding
  padding 0

.words
  h4, p
    margin 5px
    text-align left
    cursor pointer
  input
    display block

.border
  border 1px solid navy

section
  padding 1em
  &:not(:last-child)
    border-bottom 1px solid #ccc

img
  border-radius 1em 1em 0 0
  object-fit cover
  object-position center center
  width 340px
  height 200px

.add-action
  font-size 1.5em
  border 0
  font-weight bold
  margin-bottom 4px
  background-color inherit
  
.save
  border-radius 5px
  background-color whitesmoke
  margin 1em .5em
